doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    h1(data-text="test text" data-id="2") Hello

    .form 
      input(type="number", placeholder="firstValue")
      input(type="number", placeholder="secondValue")
      input(type="number", placeholder="step")
      input(type="number", placeholder="min")
      input(type="number", placeholder="max")
      input(type="text", placeholder="orientation")
      p tips 
      input(type="checkbox" name="tips").tips 
      p range
      input(type="checkbox" name="range").range

    .wrapper 
    .wrapper 
    .wrapper 
    .wrapper
              